<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GET and POST Checker</title>
</head>
<body>
    <h1>POST Request Received</h1>
<fieldset>
    <legend>URL Query</legend>
    <table>
        <tbody>
        </tbody>
    </table>
</fieldset>
<fieldset>
    <legend>Request Body</legend>
    <table>
        <tbody>
           <ul>
            {{#each dataList}}
                <li>{{this.postname}}: {{this.postvalue}}
            {{/each}}
           </ul>
        </tbody>
    </table>
</fieldset>


</body>
</html>